# Export Videos
*.mov

# Large pdf Storyboards
fall17/motion-graphics/assignments/*.pdf

# Large Unity assets
spring18/unity/week8/lecture8/Assets/*
spring18/unity/week8/lecture8/Library/*

spring18/unity/week10/lecture10/Assets/*
spring18/unity/week10/lecture10/Library/*

# Large Photoshop assets
*.psd
